@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.comment {
    background-color: var(--color-white);

    & .bottomBar {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        & .author {
            flex: 1 0;
        }

        & .date {
            @mixin typography-overline rem;
            color: color(var(--color-black) alpha(0.3));

            & .separator {
                margin: 0 0.8rem;
            }

            &:last-child .separator {
                display: none;
            }
        }

        & .actions {
            display: flex; /* Remove extra space because of inline-block of children */

            & .button:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}
