@import "@discussify/styleguide/styles/colors";

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    min-width: 45rem;
    max-width: 70rem;
    border-left: 1px solid color(var(--color-black) alpha(0.1));
    background: var(--color-white);
}
