@import "@discussify/styleguide/styles/mixins/typography";

.errorScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .message {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .text {
            @mixin typography-body-1 rem;
        }

        & .errorText {
            margin-top: 1rem;
            @mixin typography-body-2 rem;
        }
    }
}
