@import "@discussify/styleguide/styles/colors";

.initialScreen {
    display: flex;
    flex-direction: column;

    & .brand {
        position: relative;
        display: flex;
        flex: 1 0;
        flex-direction: column;
        justify-content: center;

        & .logo {
            display: block;
        }

        & .tagline {
            margin-top: 2rem;
            color: var(--color-gray);
            text-align: center;
        }
    }
}
