@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.bottomBar {
    position: relative;
    background-color: var(--color-seashell);

    & .textarea {
        width: calc(100% - 8rem);
        padding: 3rem 0 3rem 3rem;
        display: block; /* Remove extra space at the bottom */
        border: none;
        background-color: transparent;

        &::placeholder {
            color: var(--color-gray);
        }
    }

    & .submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 8rem;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        color: var(--color-black);

        & .submitIcon {
            position: absolute;
            top: calc(3rem + 1.2rem);
            left: 50%;
            transform: translate(-50%, -50%);
            fill-opacity: 0;
        }
    }

    /* This submit icon has several opacity states related to being disabled & empty:
       - When disabled:
           cursor disabled
       - When empty:
           default: 0
           focus: 0
           hover: 0.2
       - When not empty & not disabled:
           default: 0.45
           focus: 0.45
           hover: 1
     */

    &.disabled .textarea[disabled],
    &.disabled .submit[disabled] {
        cursor: not-allowed;
    }

    &.empty .submit .submitIcon {
        fill-opacity: 0;
    }

    &.empty:hover .submit .submitIcon,
    &.empty:focus-within .submit .submitIcon {
        fill-opacity: 0.15;
    }

    &:not(.empty) .submit:not([disabled]) .submitIcon {
        cursor: pointer;
        fill-opacity: 0.45;
    }

    &:not(.empty) .submit:not([disabled]):hover .submitIcon {
        fill-opacity: 1;
    }
}
