@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.bottomBar {
    position: relative;
    background-color: var(--color-seashell);

    &:hover {
        & .submit .submitIcon {
            fill-opacity: 0.45;
        }
    }

    & .submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 8rem;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        color: var(--color-black);
        cursor: pointer;
        fill-opacity: 0;

        & .submitIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill-opacity: 0;
        }

        &:hover .submitIcon,
        &:focus .submitIcon {
            fill-opacity: 1;
        }
    }

    & .textareaWrapper {
        width: calc(100% - 8rem);
        padding: 3rem 0 3rem 3rem;
        cursor: text;

        & .textarea {
            width: 100%;
            padding: 0;
            display: block; /* Remove extra space at the bottom */
            border: none;
            background-color: transparent;

            &::placeholder {
                color: var(--color-gray);
            }
        }
    }
}
