@import "@discussify/styleguide/styles/mixins/typography";

.errorScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .message {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        @mixin typography-body-1 rem;
    }
}
