@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.commentsListEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .title {
        @mixin typography-h4 rem;
        color: color(var(--color-black) alpha(0.2));
    }

    & .message {
        margin-top: 0.5rem;
        @mixin typography-body-1 rem;
        color: color(var(--color-black) alpha(0.2));
    }
}
