@import "@discussify/styleguide/styles/colors";

.commentsTree {
    overflow-y: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-white);

    & .node:not(:last-child) {
        margin-bottom: 3rem;
    }
}
