.node {
    & .commentFrame {
        padding: 1.5rem 0;

        & .hidden {
            position: fixed;
            top: 100vh;
            left: 100vw;
            visibility: hidden;
        }
    }

    & .repliesIndent {
        padding-left: 3rem;
    }
}
