@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.commentBody {
    position: relative;

    & .message {
        margin: 0;
        padding: 1.5rem;
        border: 1px solid transparent;
        background-color: color(var(--color-science-blue) alpha(0.1));
        border-radius: 0.8rem 0.8rem 0.8rem 0;
        @mixin typography-body-2 rem;
        white-space: pre-line;
    }

    & .textarea {
        width: 100%;
        padding: 1.5rem;
        display: block; /* Remove extra space at the bottom */
        border: none;
        border: 1px solid var(--color-gray);
        background-color: var(--color-white);
        border-radius: 0.8rem 0.8rem 0.8rem 0;
        @mixin typography-body-2 rem;
    }

    & .actions {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
        display: flex; /* Remove extra space because of inline-block of children */
        opacity: 0;
        background-color: color(var(--color-science-blue) lightness(95));
        border-radius: 0.8rem;
        transition: opacity 0.2s ease;

        & .icon {
            width: 1.6rem;
            height: 1.6rem;
            color: var(--color-science-blue);
            fill-opacity: 0.5;

            &:hover,
            &:focus {
                fill-opacity: 1;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &:hover .actions {
        opacity: 1;
    }
}
