@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";
@import "@discussify/styleguide/styles/mixins/text";

.pageInfo {
    & .top {
        max-width: calc(100% - 3rem);
        display: flex;
        align-items: center;

        & .favicon {
            width: 0;
            height: 0;
            visibility: hidden;
            vertical-align: middle;
        }

        &.faviconLoaded .favicon {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1.2rem;
            visibility: visible;
        }
    }
}
