@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.contentRemoved {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    border: 1px dashed color(var(--color-black) alpha(0.3));
    border-radius: 0.8rem;
    color: color(var(--color-black) alpha(0.3));
    @mixin typography-body-2 rem;

    & .removeIcon {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 1rem;
    }

    & .deletedText {
        flex: 1 0;
        vertical-align: middle;
    }
}
