@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";
@import "@discussify/styleguide/styles/mixins/text";

.topBar {
    position: relative;
    padding: 3rem;
    background-color: var(--color-seashell);

    & .closeIcon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2rem;
        color: var(--color-black);
        cursor: pointer;
        fill-opacity: 0.45;

        &:hover,
        &:focus {
            fill-opacity: 1;
        }
    }

    & .info {
        & .favicon {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

        & .domain {
            @mixin typography-body-2 rem;
            @mixin text-ellipsis;
            vertical-align: middle;
            color: var(--color-gray);
        }

        & .overline {
            @mixin typography-body-2 rem;
            @mixin text-ellipsis;
        }
    }
}
