@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.textarea {
    width: 100%;
    overflow: hidden;
    padding: 0;
    display: block;
    @mixin typography-body-1 rem;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    transition: height 0.2s ease;

    &::placeholder {
        color: var(--color-gray);
    }
}
