@import "@discussify/styleguide/styles/colors";
@import "@discussify/styleguide/styles/mixins/typography";

.commentLoading {
    min-width: 35rem;
    background-color: var(--color-white);

    & .content {
        position: relative;
        padding: 1.5rem;
        border: 1px solid transparent;
        background-color: color(var(--color-science-blue) alpha(0.1));
        border-radius: 0.8rem 0.8rem 0.8rem 0;

        & pre {
            margin: 0;
            padding: 0;
            @mixin typography-body-2 rem;
            white-space: pre-line;
        }

        & .dummyText {
            position: absolute;
            left: 1.5rem;
            height: 1rem;
            background-color: color(var(--color-science-blue) alpha(0.1));
        }

        & .dummyTextLine1 {
            top: 2rem;
            width: calc(80% - 1.5rem);
        }

        & .dummyTextLine2 {
            top: 4.2rem;
            width: calc(62% - 1.5rem);
        }
    }

    & .bottomBar {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;

        & .dummyText {
            height: 1rem;
            background-color: var(--color-seashell);
            border-radius: 0.6rem;
        }

        & .author {
            width: 45%;
            margin-right: 1rem;
            display: flex;
            flex: 1 0;
            align-items: center;

            & .dummyAvatar {
                width: 3rem;
                height: 3rem;
                display: inline-block;
                background-color: var(--color-seashell);
                border-radius: 50%;
            }

            & .dummyNameText {
                max-width: 14rem;
                margin-left: 1.5rem;
                flex: 1 1;
            }
        }

        & .info {
            display: flex;
            align-items: center;

            & .dummyDateText {
                width: 3rem;
            }

            & .dummySeparator {
                margin: 0 1rem;
                color: var(--color-seashell);
                @mixin typography-overline rem, no-line-height;
                line-height: 1;

                &::after {
                    content: "•";
                }
            }
        }

        & .actions {
            display: flex;
            align-items: center;

            & .dummyActionsText {
                width: 6.1rem;
            }
        }
    }
}
